body {
    background-color: #f6f8fa !important;
}

li {
    list-style: none;
}

.App-title {
    color: whitesmoke;
    float: left;
}

.remove-project-button {
    float: right;
    margin-top: 15px;
    background-color: #ffffff33 !important;
    color: white !important;
}

.App-header {
    background-color: #0e4369 !important;
}

.ant-menu-item-group-title {
    font-size: 13pt !important;
    color: #096dd9 !important;
}

.logo-collapsed {
    border: 2px solid #e2e2e2;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    position: relative;
    top: 17px;
    margin: auto;
}

.logo {
    text-indent: 0px;
    height: 64px;
    text-align: center;
    vertical-align: middle;
    line-height: 60px;
    font-size: 23pt;
    font-weight: lighter;
    color: white;
    background-color: #096dd9;
    text-shadow: 1px 1px 3px rgba(50, 50, 150, 1);
}

.ant-layout-sider-trigger {
    background-color: #096dd9 !important;
}

.sidebar-menu-item {
    background-color: #f6f8fa;
    margin-bottom: 0 !important; 
    margin-top: 0 !important;
    border-bottom: 1px solid #e4e4e4;
    padding-top: 4px !important;
}

.sidebar-menu-item:hover, .sidebar-menu-item:active {
    background-color: #dce6f1; 
}

.project-item {
    padding-left: 34px !important;
}

.ant-list-footer {
    padding: 0 !important;
}

.create-new-task {
    background-color: #f0f2f5;
    padding: 14px;
    box-shadow: 0 -2px 3px #00000077;
}

.new-project {
    color: #096dd9 !important;
    text-align: center !important;
    padding-left: 0px !important;
}

.new-project .ant-input {
    margin-left: 7px !important;
}