.drag-area {
    width: 12px;
    height: 62px;
    position: absolute;
    left: 0;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAALElEQVQYV2NkYGCYCcRbgBgEnjECCWMgloIKMIAEfEEyQJwGUgkTACsHqQQAzCAGH2GlAl4AAAAASUVORK5CYII= ) repeat;
    margin-top: -19px;
    border-radius: 0 5px 5px 0;
    opacity: 0.6;
    cursor: move;
    box-shadow: 2px 0 2px #0000004a;
    border-right: 1px solid #456eb9;
}

.due-display {
    width: 170px;
    text-align: left;
    padding: 4px 10px;
    background-color: #ffffff99;
    border: 1px solid #ffffff99;
    border-radius: 3px;
    color: black;
    cursor: pointer;
}

.over-due {
    color: rgb(170, 66, 42);
}

.todo-name-text {
    cursor: pointer;
}

.todo-name-edit-icon {
    position: relative;
    top: -5;
    margin-left: 6px;
    visibility: hidden;
}

.todo-name-text:hover .todo-name-edit-icon {
    visibility: visible;
}

.ant-list-item-action li {
    margin-left: 20px;
}

.ant-list-item-action-split {
    display: none;
}